<!DOCTYPE html>
<html lang="en">
<head>
  <title>Visualizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap file  -->
  <link rel="stylesheet" href="{{url_for('static',filename="css/bootstrap.min.css")}}">
    <script src="{{url_for('static',filename="js/jquery.js")}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="{{url_for('static',filename="js/bootstrap.min.js")}}"></script>
  <!-- bootstrap files ended -->
<!--   <style type="text/css">
  	body{ margin: 0; padding: 0; overflow-x: hidden; }
  </style> -->

</head>
<body style=" background-image:url({{ url_for('static', filename='images/2.jpg') }});">

<div class="text-center" style="font-color:white;background-color: rgba(0,0,0,0.9); padding: 15px;">
  <span style="color: white; font-size: 30px;">Visualizer</span>
</div>


        <div style="text-align: center;">
          <br>
          <br>
          
          <button class='btn btn-success btn-lg' id="test" onclick="enableGenerate()">Select File</button>
          <br><br>
          <button class ='btn btn-success btn-lg' id="btntest" type="button"  onclick="window.location.href = '/visualizer'" disabled>Generate Graph</button> 
        </div>
</body>

<!-- Main Button Start -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function() {
              //do nothing
            });

            return false;
          });
        });

</script>

<!-- Main Button End-->

<script>
function enableGenerate() {
  document.getElementById("btntest").disabled = false;
}
</script>

</html>
