<!DOCTYPE html>
<html lang="en">
<head>
  <title>Visualizer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap file  -->
  <link rel="stylesheet" href="{{url_for('static',filename="css/bootstrap.min.css")}}">
  <script src="js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- bootstrap files ended -->

  <!-- neovis.js files -->
  <script type="text/javascript" src="js/neovis.js"></script>
  <script type="text/javascript" src="https://cdn.neo4jlabs.com/neovis.js/v1.2.1/neovis.js"></script>
  <script src="https://rawgit.com/neo4j-contrib/neovis.js/master/dist/neovis.js"></script>
  <script  src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
  <!-- neovis.js files ended -->

  <!-- display style -->
  <style type="text/css">
  html, body {
           font-size: 16px;
       }
       #viz {
           max-width: 100%;
           height: 550px;
           font: 22px arial;
           border: 1px solid lightgray;
           display: inline-block;
           float: left;
       }
/*        #Buttons {
            padding-left: 10px;
            display: inline-block;
            float: left;
        }*/
  </style>
  <!-- style setting ended -->

  <!-- neovis script -->
  <script>
  // define config car
        // instantiate nodevis object
        // draw
        var viz;

        function draw() {
            var config = {
                container_id: "viz",
                server_url: "bolt://localhost:7687",
                server_user: "neo4j",
                server_password: "root",
                "arrows": true,
                labels: {
                   "mobile_number": {
                        "caption": "number",
                        "size": "pagerank",
                        "community": "community"
                        //"sizeCypher": "MATCH (n) WHERE id(n) = {id} MATCH (n)-[r]-() RETURN sum(r.weight) AS c"
                    }
                },
                relationships: {
                    "ANSWERED": {
                        "thickness": "weight",
                        "caption": true
                    },
                    "DENIED": {
                        "thickness": "weight",
                        "caption": true
                    }
                },
                initial_cypher: "MATCH (n),(n1)-[r]->(n2) RETURN r,n,n1,n2"
            };

            viz = new NeoVis.default(config);
            viz.render();
            console.log(viz);
        }
  </script>
  <!-- neovis script ended -->

</head>
<body onload="draw()">

<div class="text-center" style="font-color:white;background-color: rgba(0,0,0,0.9); padding: 15px;">
  <span style="color: white; font-size: 30px;">Visualizer</span>
</div>

<div class="container-fluid ">
  <div class="row">

    <div class="col-sm-8" id="viz" style="background-color: rgba(1,1,1,0);">
    <!-- Frame -->
          </div>
    
    <div class="col-sm-4 text-white"  style="margin-top: 5px">
      <!-- Button Functions -->
      <h3 style="margin-top: 0px;"><b>Select File</b></h3>
        <button class='btn btn-success' id="test" onclick="enableGenerate()">Browse File to select</button>
        <button class ='btn btn-success' id="btntest" type="button" >Reload Graph</button>
        <hr style="margin-top: 5px; margin-bottom: 5px;">

        <h3 style="margin-top: 5px"><b>Filters</b></h3>
      <!-- check boxes -->
<div class="form-check" style="margin-top: 10px">
        <input type="checkbox" class="form-check-input" id="SMS">
    <label class="form-check-label" for="SMS">SMS</label>
        <input type="checkbox" class="form-check-input" id="voice">
    <label class="form-check-label" for="voice">Calls</label>
        <input type="checkbox" class="form-check-input" id="missed_call">
    <label class="form-check-label" for="missed_call">Missed</label>
        <input type="checkbox" class="form-check-input" id="answered_call">
    <label class="form-check-label" for="answered_call">Answered</label>
    <button class="btn btn-success" id="execute_queries" >Apply Filters</button>
    
</div>

      <table style="margin-top: 5px; margin-bottom: 5px;" class="table table-borderless table-dark">
        <tbody>
<!--         <tr>
          <td>Calltype</td>
          <td>
            <select id="calls">
              <option value="default">All</option>
              <option value="DENIED">Miss Calls</option>
              <option value="ANSWERED">Answer Calls</option>
            </select>
          </td>
        </tr> -->


<!--         <tr>
          <td>Response</td>
          <td>
            <select id="type">
              <option value="default">All</option>
              <option value="SMS">SMS</option>
              <option value="VOICE">Voice</option>
            </select>
          </td>
        </tr> -->


        <tr>
          <td>Search number</td>
          <td>
            <input type="string" id="mob_no">
            <button class="btn btn-success" id="mob_search" >Search</button>
          </td>
        </tr>
        </tbody>
      </table>

      <h3 style="margin-top: 0px; margin-bottom: 5px;"><b>Search Call Details</b></h3>

      <table style="margin-top: 0px; margin-bottom: 5px;" class="table table-borderless">

        <tbody>
          <tr>
            <td>Start Time</td>
            <td><input type="datetime" id="start_time" min="1980-01-01T00:00" max="2020-01-14T00:00"></td>
          </tr>
          <tr>
            <td>End Time</td>
            <td><input type="datetime" id="end_time" min="1980-01-01T00:00" max="2018-01-14T00:00"></td>
          </tr>
          <tr>
            <td><button class="btn btn-success" id="time_search">Search</button></td>
          </tr>
        </tbody>
      </table>


<!--            <h3 style="margin-top: 0px; margin-bottom: 5px;"><b>Manual Cypher query</b></h3>-->
<!--            <textarea rows="1" cols="50" id="cypher"></textarea><br>-->
<!--            <br>-->
<!--        -->

        <h3 style="margin-top: 0px; margin-bottom: 10px;"><b>Apply Algorithms</b></h3>
        <button class='btn btn-primary' type="button" id="community">Grouping</button>
        <button class ='btn btn-primary' id="page_rank" type="button" >Page Rank</button>
        <button class ='btn btn-primary' id="edge_width" type="button" >Edge Width</button>

        <hr>

<!--        <input class="btn btn-success" type="submit" value="Submit" id="reload">-->
        <input class="btn btn-success" type="submit" value="Stabilize" id="stabilize">
       <input class="btn btn-success" type="submit" value="Delete" id="delete">

      </div>

  </div>
</div>

</body>
  <script>
      var filter="";
      var cypher="match (n)-[r]-(b) ";
    //fire manual query    
    $("#reload").click(function() {
        var cypher = $("#cypher").val();

        if (cypher.length > 3) {
            viz.renderWithCypher(cypher);
        } else {
            console.log("reload");
            viz.reload();
        }
    });





    //for community detection algorithm
    $("#community").click(function() {
      var cypher3= "CALL algo.beta.louvain('mobile_number', 'ANSWERED', { graph: 'huge', direction: 'BOTH', writeProperty: 'community'}) YIELD modularity, modularities";
      viz.renderWithCypher(cypher3);
      document.getElementById("community").disabled = true;
    });

    //for edge width algorithm
    $("#edge_width").click(function() {
      var cypher4= "MATCH (c:mobile_number)-[n]->() SET n.weight = n.duration % 5";
      viz.renderWithCypher(cypher4);
      document.getElementById("edge_width").disabled = true;
    });

    //for page ranker calculation
    $("#page_rank").click(function() {
      var cypher4= "CALL algo.pageRank('mobile_number', 'ANSWERED', {iterations:20, dampingFactor:0.85, write: true,writeProperty:'pagerank'}) YIELD nodes, iterations, loadMillis, computeMillis, writeMillis, dampingFactor, write, writeProperty";
      viz.renderWithCypher(cypher4);
      document.getElementById("page_rank").disabled = true;
    });
    
    //stablize the graph
    $("#stabilize").click(function() {
        viz.stabilize();
    });

    //for delete all nodes
    $("#delete").click(function() {
      var cypher1= 'match(n) detach delete(n)';
      viz.renderWithCypher(cypher1);
    });

    //for reload viz
    $("#btntest").click(function() {
      var cypher1= "MATCH (n),(n1)-[r]->(n2) RETURN r,n,n1,n2";
      viz.renderWithCypher(cypher1);
    });

    //search a mobile number
    $("#mob_search").click(function() {
        var no = $("#mob_no").val();
        var cypher1= cypher+' where n.number="'+no+'" and '+ filter+' return n,r,b';
            viz.renderWithCypher(cypher1);
        
        console.log("searching number "+no);
    });
    
     //search a number in time period 
    $("#time_search").click(function() {
        var st = $("#start_time").val();
        var et = $("#end_time").val();
        
        if (Date.parse(st) && Date.parse(et)) {
            var cypher='match (n)-[r]-(f) where r.start_time> datetime("'+st+'") and r.end_time> datetime("'+et+'") return n,r,f;';
            viz.renderWithCypher(cypher);
        }
        else if (Date.parse(st)){
            var cypher='match (n)-[r]-(f) where r.start_time> datetime("'+st+'") return n,r,f;';
            viz.renderWithCypher(cypher);
        }
        else if(Date.parse(et)){
            var cypher='match (n)-[r]-(f) where r.end_time> datetime("'+et+'") return n,r,f;';
            viz.renderWithCypher(cypher);        
        }
        console.log("searching number between "+st+" and "+et);
    });

      //filters
        $("#SMS").click(function() {
                var cypher= 'MATCH (n)-[r]-(a) WHERE r.type="SMS" RETURN n,r,a';
          viz.renderWithCypher(cypher);
        });
      $("#voice").click(function() {
                var cypher= 'MATCH (n)-[r]-(a) WHERE r.type="VOICE" RETURN n,r,a';
          viz.renderWithCypher(cypher);
        });
      $("#missed_call").click(function() {
                var cypher= 'MATCH p=()-[r:DENIED]->() RETURN p';
          viz.renderWithCypher(cypher);
        });
      $("#answered_call").click(function() {
                var cypher= 'MATCH p=()-[r:ANSWERED]->() RETURN p';
          viz.renderWithCypher(cypher);
        });
        

</script>



<!-- Main Button Start -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#test').bind('click', function() {
            $.getJSON('/background_process_test',
                function() {
              //do nothing
            });

            return false;
          });
        });

</script>

<!-- Main Button End-->

<script>
function enableGenerate() {
  document.getElementById("page_rank").disabled = false;
  document.getElementById("community").disabled = false;
  document.getElementById("edge_width").disabled = false;
}
</script>

</html>
